html, 
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

.Title{
  width: 100%;
  text-align: center;
  margin: 10px;
  font-size:32pt;
  font-family:'Times New Roman, Times, serif';
}
.blocklyTreeLabel {
  color: white;
}
/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
  padding: .5em;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
  padding: 3px;
  margin-bottom: .5em;
  border-radius: 4px;
}
.customIcon {
  color: white;
}
/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blocklyTreeRow {
  height: initial;
}
.customLabel {
   font-weight: bold;
}
#blocklyDiv {
  height: 516px;
  width: 100%;
  display: inline-block;
}
#BlocklyLogo{
  width:100px;
  display: inline-block;
}
#drawing {
  border: 1px solid red;
  z-index: -1;
  position: absolute;

}
#background {
  z-index: -2;
  position: absolute;
}
#inout{
  min-height: 50px;
  border: 1px solid blue;
}
.turtles{
  position: absolute;
}

.checkbox-menu label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: rgb(214, 208, 208);
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu .active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu  label:hover,
.checkbox-menu  label:focus {
    background-color: #000000;
}

.checkbox-menu .active label:hover,
.checkbox-menu .active label:focus {
    background-color: #b8b8ff;
}